body {
    background-image: linear-gradient(#A4969B, #655560);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    text-align: center;
    color: #FCF7FF;
}
header {
    background-color: #C4CAD0;
    color: #4b4047;
}
header > nav > ul {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #878C8F;
    height: 60px;
    list-style-type: none;
    color: white;
}
#coverPhotoFigure {
    text-align: center;
}
#coverPhoto {
    object-fit: fill;
    height: 75%;
    width: 75%;
}
h1 {
    font-size: 3em;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 20px;
}
h2 {
    font-size: 2.5em;
    text-align: center;
}
header a:visited {
    color: white;
}
#contents {
    padding: 10px;
    width: 100%;
    height: 100%;
}
#schedule > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.column {
    float: left;
    width: 50%;
    text-align: center;
}
.weddingPartyProfile {
    height: 33%;
    width: 33%;
}
.recommendations {
    height: 33%;
    width: 33%;
}
#rsvp > {
    padding: 10px;
    text-align: left;
}
#photoSlideshow > figure > img {
    display: none;
    margin: 0px auto;
}
section#photoSlideshow > figure.visible > img {
    display: block;
    position: relative;
    overflow: hidden;
}
