#coverPhotoFigure {
    text-align: center;
}
#coverPhoto {
    object-fit: fill;
    height: 75%;
    width: 75%;
}
#logo {
    height: 20px;
    width: 32px;
}
body {
    background-image: linear-gradient(#A4969B, #655560);
    margin: 0;
    text-align: center;
    color: #FCF7FF;
}
.container {
    padding: 20px;
    text-align: center;
}
h1 {
    text-align: center;
    padding: 20px;
}
h2 {
    text-align: center;
    padding: 20px;
}
.weddingPartyProfile {
    height: 33%;
    width: 33%;
}
.recommendations {
    height: 33%;
    width: 33%;
}
form#rsvp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px;
    padding: 25px;
}