#coverPhotoFigure {
    text-align: center;
}
#coverPhoto {
    object-fit: fill;
    height: 75%;
    width: 75%;
}
#logo {
    height: 20px;
    width: 32px;
}
body {
    background-image: linear-gradient(#ededed, #d5d5dd);
    margin: 0;
    text-align: center;
    color: #303030;
}
h1 {
    text-align: center;
    padding: 20px;
}
h2 {
    text-align: center;
    padding: 20px;
}
.weddingPartyProfile {
    height: 33%;
    width: 33%;
}
.recommendations {
    height: 33%;
    width: 33%;
}
form#rsvp {
    margin: 25px;
    padding: 25px;
}
div.row {
    padding: 20px;
}
@media screen {
    #schedule div.col-sm-8 {
        border-left: 1px solid rgb(34, 34, 34);
    }
    #travel div.col-sm-8 {
        border-left: 1px solid rgb(34, 34, 34);
    }
}